h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  letter-spacing: $headings-letter-spacing;
}

h1,
.h1 {
  line-height: $h1-line-height-zh;
  letter-spacing: $h1-letter-spacing-zh;

  @include media-breakpoint-down(lg) {
    font-size: $h1-font-size-sm;
    line-height: $h1-line-height-sm;
  }
}

h2,
.h2 {
  line-height: $h2-line-height-zh;
  letter-spacing: $h2-letter-spacing-zh;

  @include media-breakpoint-down(lg) {
    font-size: $h2-font-size-sm;
    line-height: $h2-line-height-sm;
  }
}

h3,
.h3 {
  line-height: $h3-line-height-zh;
  letter-spacing: $h3-letter-spacing-zh;

  @include media-breakpoint-down(lg) {
    font-size: $h3-font-size-sm;
    line-height: $h3-line-height-sm;
  }
}

h4,
.h4 {
  line-height: $h4-line-height-zh;
  letter-spacing: $h4-letter-spacing-zh;

  @include media-breakpoint-down(lg) {
    font-size: $h4-font-size-sm;
    line-height: $h4-line-height-sm;
  }
}

h5,
.h5 {
  line-height: $h5-line-height-zh;
  letter-spacing: $h5-letter-spacing-zh;
}

h6,
.h6 {
  line-height: $h6-line-height-zh;
  letter-spacing: $h6-letter-spacing-zh;
}

.h1-en {
  font-family: $font-family-en;
  font-weight: $headings-font-weight-en;
  font-size: $h1-font-size-en;
  line-height: $h1-line-height-en;
  letter-spacing: $headings-letter-spacing-en;

  @include media-breakpoint-down(lg) {
    font-size: $h1-font-size-en-sm;
    line-height: $h1-line-height-en-sm;
  }
}

.h2-en {
  font-family: $font-family-en;
  font-weight: $headings-font-weight-en;
  font-size: $h2-font-size-en;
  line-height: $h2-line-height-en;
  letter-spacing: $headings-letter-spacing-en;

  @include media-breakpoint-down(lg) {
    font-size: $h2-font-size-en-sm;
    line-height: $h2-line-height-en-sm;
  }
}

.h3-en {
  font-family: $font-family-en;
  font-weight: $headings-font-weight-en;
  font-size: $h3-font-size-en;
  line-height: $h3-line-height-en;
  letter-spacing: $headings-letter-spacing-en;

  @include media-breakpoint-down(lg) {
    font-size: $h3-font-size-en-sm;
    line-height: $h3-line-height-en-sm;
  }
}

.h4-en {
  font-family: $font-family-en;
  font-weight: $headings-font-weight-en;
  font-size: $h4-font-size-en;
  line-height: $h4-line-height-en;
  letter-spacing: $headings-letter-spacing-en;

  @include media-breakpoint-down(lg) {
    font-size: $h4-font-size-en-sm;
    line-height: $h4-line-height-en-sm;
  }
}

.h5-en {
  font-family: $font-family-en;
  font-weight: $headings-font-weight-en;
  font-size: $h5-font-size-en;
  line-height: $h5-line-height-en;
  letter-spacing: $headings-letter-spacing-en;
}

.h6-en {
  font-family: $font-family-en;
  font-weight: $headings-font-weight-en;
  font-size: $h6-font-size-en;
  line-height: $h6-line-height-en;
  letter-spacing: $headings-letter-spacing-en;
}
