.c-award-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
  text-decoration: none;
  background-color: $gray-10;
  border-radius: $border-radius;

  &__media {
    position: relative;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: $border-radius-sm;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
  }

  &__mask {
    position: absolute;
    inset: 0;
    background-color: $gray-90;
    opacity: 0.25;
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__title {
    flex: 1 0 0;
    min-width: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $font-primary;
    transition: color 0.3s ease-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__arrow {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    border-radius: $border-radius-pill;
    border: 1px solid transparent;
    background-color: $brown-70;
    transition:
      background-color 0.3s ease-out,
      border-color 0.3s ease-out;

    .btn-arrow__track > i:first-child {
      color: $font-brand;
    }

    .btn-arrow__track > i:last-child {
      color: $font-white;
    }
  }

  &:hover {
    .c-award-card__mask {
      opacity: 0;
    }

    .c-award-card__title {
      color: $font-brand;
    }

    .c-award-card__arrow {
      background-color: transparent;
      border-color: $brown-70;
    }

    .btn-arrow__track {
      transform: translateX(0);
    }
  }

  &--flat {
    padding: 40px 28px;
    background-color: transparent;

    .c-award-card__title {
      font-size: 1.25rem;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 20px;
    border-radius: $radius-m-mobile;

    &__media {
      border-radius: $radius-s-mobile;
    }

    &__title {
      font-size: 1.375rem;
    }

    &--flat {
      padding: 20px;

      .c-award-card__title {
        font-size: 1.25rem;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    }
  }
}
