.pagination {
  align-items: center;
  gap: 1rem;

  .page-item:first-child {
    margin-right: 0.5rem;
  }

  .page-item:last-child {
    margin-left: 0.5rem;
  }
}

.btn-pagination-arrow {
  --bs-btn-color: #{$font-secondary};
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #{$gray-30};
  --bs-btn-hover-color: #{$primary};
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #{$primary};
  --bs-btn-active-color: #{$primary};
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #{$primary};

  width: 2.5rem;
  height: 2.5rem;

  &--sm {
    width: 2rem;
    height: 2rem;
  }

  &--lg {
    width: 3.125rem;
    height: 3.125rem;
  }
}
