.l-video-detail {
  padding: 60px 0 120px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 40px;
  }

  &__title-bar {
    flex-shrink: 0;
    width: 6px;
    margin-block: 0.25em;
    border-radius: 999px;
    background-color: $brown-50;
  }

  &__grid {
    --bs-gutter-x: 40px;
    --bs-gutter-y: 60px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  @include media-breakpoint-down(lg) {
    padding: 40px 0 60px;

    &__inner {
      padding-right: calc(#{$float-reserve});
    }

    &__title {
      margin-bottom: 24px;
    }

    &__grid {
      --bs-gutter-y: 30px;
    }

    &__pagination {
      margin-top: 40px;
    }
  }
}
